.row
  .col-xs-12.no_padding.feature_image
    .hidden-xs
      .text-center
        .space-30
        .space-16
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "337", :width => "600",
          :src => "https://www.youtube.com/embed/Z79lCVdrDOM" }
        .space-18
        .col-xs-12.text-center.white
          %h2.rounded.title.no_margin My College Education
          %h2.rounded.title.margin_top Shared with YOU Online
        .space-18
        .col-xs-12.text-center
          = link_to "Free Crash Course", root_path, class: "btn btn-default btn-lg rounded padding_top"
        .col-xs-12
          .space-30
    .visible-xs
      .text-center
        .space-30
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "179", :width => "320",
          :src => "https://www.youtube.com/embed/Z79lCVdrDOM" }
        .space-30
        .col-xs-12.text-center.white
          %h2.rounded.no_margin My College Education
          %h2.rounded.margin_top Shared with YOU Online
        .space-18
        .col-xs-12.text-center
          = link_to "Free Crash Course", root_path, class: "btn-default btn-lg rounded padding_top"
        .col-xs-12
          .space-30
-# ********************************************************************************************************************
.row
  .col-md-4.col-xs-12.text-center
    .space-10
    %h3.rounded.bold More Than Just Code!
    .space-18
    .text-center
      = image_tag "ruby.png", class: "icon_img"
    .space-18
    .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.rounded.black
      %p I teach more than just code. I teach ENGINEERING. Computers, memory, and databases it all goes really deep.
      %p You need to know OTHER things like software design and architecture, how the industry works, and how to GET SH*T DONE!
      %p And to build good software, you need to understand how it all works as a whole.
    .row
      .col-xs-12
        .space-16
  .col-md-4.col-xs-12.text-center
    .space-10
    %h3.rounded.bold BETTER than College Courses!
    .space-2
    .text-center
      = image_tag "college.png", class: "icon_img"
    .space-6
    .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.rounded.black
      %p Not only did I go to school for engineering, I TAUGHT it while I was there.
      %p.no_margin Students that couldn't understand the professor would pay me to explain it to them
      = link_to "SDSU EE Tutor", 'http://sdsueetutor.com'
      .space-4
      %p Rather than 4 years of school, I pulled out all the things you actually need to know to start your career as a programmer.
    .row
      .col-xs-12
        .space-16
  .col-md-4.col-xs-12.text-center
    .space-10
    %h3.rounded.bold How To MONETIZE
    .text-center
      = image_tag "money.png", class: "icon_img2"
    .space-10
    .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.rounded.black
      %p.no_margin Too many people say 'it's not about money'.
      %p I say thats BS!
      %p.no_margin When you're making $0/month and you have rent due and you're hungry...
      %p IT IS ABOUT MONEY.
      %p That is why I built out sections on how to monetize with your new software skills.
    .row
      .col-xs-12
        .space-16
-# *********************************************************************************************************************
.row
  .col-xs-12.courses_background.text-center
    %h3.little_font.courses.title Courses
    .row.text-center
      -# ******************************************************************
      .col-md-4.col-xs-12
        .space-10
        %h3.rounded.title2
          %p.no_margin Intro To Programming
          %p Crash Course
        .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
          .hidden-xs
            %p.intro
          .visible-xs
            %p.intro_xs
          .space-30
      -# ******************************************************************
      .col-md-4.col-xs-12
        .space-10
        %h3.rounded.title2
          %p C and Assembly
          .space-20
        .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
          .hidden-xs
            %p.hex
          .visible-xs
            %p.hex_xs
          .space-30
      -# ******************************************************************
      .col-md-4.col-xs-12
        .space-10
        %h3.rounded.title2
          %p.no_margin Intro Web Apps
          %p (Ruby on Rails)
        .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
          .hidden-xs
            %p.rails
          .visible-xs
            %p.rails_xs
          .space-30
      -# ******************************************************************
      .col-md-4.col-xs-12
        .space-10
        %h3.rounded.title2
          %p Software DESIGN
        .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
          .hidden-xs
            %p.design
          .visible-xs
            %p.design_xs
        .space-30
      -# ******************************************************************
      .col-md-4.col-xs-12
        .space-10
        %h3.rounded.title2
          %p How to Monetize
        .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
          .hidden-xs
            %p.make_money
          .visible-xs
            %p.make_money_xs
        .space-30


-# Preloaded images
%p#preload_01
%p#preload_02
%p#preload_03
%p#preload_04
%p#preload_05


