!!!
%html
  %head
    %title Software
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      .row.navbar-default
        .hidden-xs
          .col-xs-9
            = link_to root_path do
              %h2.cocomat.no_link ACTUALLY Build Software!
          .col-xs-3
            .pull-right.padding
              = image_tag "menu.png", class: "menu_icon"
          .col-xs-4.menu_hidden
            .row
              .col-xs-3
                .pull-left.padding.inline
                  = image_tag "menu.png", class: "menu_icon"
              .col-xs-9.text-left
                .padding.inline
                  %h3.little_font.courses_menu.title.no_margin Courses
            .rounded.menu_title_xs
              - @courses.each do |course|
                .row
                  .space-10
                  .col-xs-12.text-center
                    = link_to course.title, course_path(course)
            .space-10
            .row
              .col-xs-12.rounded.text-center.menu_title_xs
                - if user_signed_in?
                  = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
                  |
                  \#{link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'}
                - else
                  = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
                  |
                  \#{link_to "Login", new_user_session_path, :class => 'navbar-link'}
        .visible-xs
          .col-xs-9
            = link_to root_path do
              %h2.cocomat.blog_title_xs.no_link ACTUALLY Build Software!
          .col-xs-3
            .pull-right.padding
              = image_tag "menu.png", class: "menu_icon"
          .col-xs-8.menu_hidden
            .row
              .col-xs-3
                .pull-left.padding.inline
                  = image_tag "menu.png", class: "menu_icon"
              .col-xs-9.text-center
                .padding.inline
                  %h3.little_font.courses_menu.title.no_margin Courses
            .rounded.menu_title_xs
              .row
                - @courses.each do |course|
                  .row
                    .space-10
                    .col-xs-12.text-center
                      = link_to course.title, course_path(course)
            .space-10
            .row
              .col-xs-12.rounded.text-center.menu_title_xs
                - if user_signed_in?
                  Logged in as
                  = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
                  |
                  \#{link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'}
                - else
                  = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
                  |
                  \#{link_to "Login", new_user_session_path, :class => 'navbar-link'}
      = yield

:javascript
  $(document).ready(function(){
    var x = 0;

    $('.menu_icon').unbind().click(function() {
      if(x==0) {
        $('.menu_hidden').show();
        x = 1;
      }else{
        $('.menu_hidden').hide();
        x = 0;
      }
    });
  });